h1 {
    color: white;
    background-color: black;
    text-align: left;
}

h1 span {
    color: #0ff;
}

h2 {
    color: white;
    background-color: #663399;
    text-align: center;
    font-style: italic;
}

h3 {
    color: black;
    background-color: #9fc5f8;
    text-align: right;
    text-decoration: underline;
}